:root {
  /*Text font*/
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /*Text color*/
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --hero-text-color: #ffffff;
  /*Logo color*/
  --color-logo-web: #2196f3;
  --color-logo-studio-header: #000000;
  --color-logo-studio-footer: #ffffff;
  /*Button*/
  --button-text-color: #212121;
  --button-bg-color: #f5f4fa;
  /*Button accent*/
  --button-accent-text-color: #ffffff;
  --button-accent-bg-color: #2196f3;
  /*Hero*/
  --hero-bg-color: #2f303a;
  /*Footer contacts*/
  --text-footer-address: #ffffff;
  --text-footer-contacts: rgba(255,255,255,0.6);
  --footer-bg-color: #2f303a;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    color: var(--primary-text-color);
  }


/*Logo*/ 
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
} 

.logo-web {
  color: var(--color-logo-web);
}

.logo-studio-header {
  color: var(--color-logo-studio-header);
}

.logo-studio-footer {
  color: var(--color-logo-studio-footer);
}

/* Menu Nav */
.menu {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu .link.current {
  color: var(--accent-text-color);
}


/*Контакты header*/
.contacts-header {
  font-weight: 500;
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
}

/*Контакты footer*/
.dark-bg {
  background-color: var(--footer-bg-color);
}

.address {
  color: var(--text-footer-address);
}

.contacts-footer {
  color: var(--text-footer-contacts);
}

.address:hover,
.address:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--button-accent-text-color);
  background-color: var(--button-accent-bg-color);
  text-decoration: none;
  cursor: pointer;
}

.hero {
  color: var(--hero-text-color);
  background-color: var(--hero-bg-color);
}

.hero-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order {
  
}





