:root {
  primary-color: #212121;
  

}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
  }

/*Logo*/ 
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-decoration: none;

  /*position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;*/

} 

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.list {
  list-style: none;
}

.link {

}


.portfolio {
  /*position: absolute;*/
  width: 1170px;
  /*height: 1360px;*/
  left: 215px;
  top: 174px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.project {
  /*position: absolute;*/
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.project-image {
  /*position: absolute;*/
  width: 370px;
  height: 294px;
  left: 615px;
  top: 262px;
}

.project-title {
  /*position: absolute;*/
  width: 322px;
  height: 70px;
  left: 639px;
  top: 576px;
}

.project-title-name {

}

.project-title-category {
  
}